.nameFieldType, .phoneFieldType
{
border-radius: 3px;
}

.skapa 
{
border-radius: 3px;
}

.registeredName, .registeredPhone
{
display: none;
float: inline-start;
padding: 2px;
width: 150px;
border: 1px solid black;
border-radius: 3px;
}