body
{
margin: 0;
padding: 0;
}

header
{
text-align: center;
font-size: 150px;
padding-bottom: 150px;
}

.pickGame
{
display: grid;
gap: 20px;
}

.singleplayer
{
grid-column: 1 / 7;
color: black;
text-align: center;
font-size: 100px;
text-decoration: none;
}

.multiplayer
{
grid-column: 7 / 13;
color: black;
text-align: center;
font-size: 100px;
text-decoration: none;
}